:root {
  /* Font Size */
  --font-size-display-large: 60px;
  --font-size-display-medium: 44px;
  --font-size-display-small: 36px;
  --font-size-heading-large: 32px;
  --font-size-heading-medium: 24px;
  --font-size-heading-small: 18px;
  --font-size-body-large: 18px;
  --font-size-body-medium: 16px;
  --font-size-body-small: 14px;
  --font-size-label-medium: 16px;
  --font-size-label-small: 14px;
  --font-size-label-xsmall: 12px;

  /* Font Weight */
  --font-weight-display-large: 700;
  --font-weight-display-medium: 700;
  --font-weight-display-small: 700;
  --font-weight-heading-large: 700;
  --font-weight-heading-medium: 700;
  --font-weight-heading-small: 700;
  --font-weight-body-large: 400;
  --font-weight-body-medium: 400;
  --font-weight-body-small: 400;
  --font-weight-label-medium: 400;
  --font-weight-label-small: 400;
  --font-weight-label-xsmall: 400;

  /* Line Height */
  --line-height-display-large: 1.2;
  --line-height-display-medium: 1.2;
  --line-height-display-small: 1.2;
  --line-height-heading-large: 1.3;
  --line-height-heading-medium: 1.4;
  --line-height-heading-small: 1.4;
  --line-height-body-large: 1.5;
  --line-height-body-medium: 1.5;
  --line-height-body-small: 1.5;
  --line-height-label-medium: 1.5;
  --line-height-label-small: 1.5;
  --line-height-label-xsmall: 1.5;
}
